<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello my name is ashik md shakil pranto</h1>
        <h3>The purpose of this page is to practise crud</h3>

        <form action = "/info" method="post">
            <input type = "text" name = "name" placeholder="student name">
            <input type = "text" name = "department" placeholder="student department">
            <input type = "submit" value = "submit">
        </form>
    </body>
</html>